.App {
    font-family: sans-serif;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    margin: auto;
  }

  #legend {
     
      margin: auto;
      width: 296px;
      height: 80px;
      border-style: solid;
      border-color: #e7e7e7;
      background: #ffffff; 
      padding-bottom: 50px;
      
     
  }

  .legendsection {
      width: 56px;
      height: 80px;
      left: 0px;
      top: 0px;
      float: left;
  }

  .icon {
      width: 36px;
      height: 36px;
      top: 0px;
  }

  .categorylabel {
      position: center;
      width: 27px;
      height: 14px;
      top: 44px;

      font-family: Hind;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #263238;
  }

.percentagelabel {
    position: center;
    width: 50px;
    height: 14px;
    top: 62px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #546e7a;
}
